@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escape C# Strings</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">

        <div class="starter-template">
            <h1>Escape C# Strings</h1>
            <p class="lead">If you have a string that you'd like to put in your C# code files, but it needs a lot of characters escaped, this form will regenerate it for you as a codedom formatted string.</p>
        </div>
        <form role="form" action="" method="POST">
            <div class="form-group">
                <label for="unescapedCodeInput">String to Escape</label>
                <textarea class="form-control" id="unescapedCodeInput" name="unescapedCodeInput" placeholder='try something like cmd /c "c:\Program Files\Something\Or\Other.exe"'>@Html.Raw(ViewBag.input)</textarea>
                <p class="help-block">XML or JSON, any old thing in here will be converted to a nice source string down there.</p>
            </div>
            <button type="submit" class="btn btn-default">Convert!</button>
            <hr />
            <div class="form-group">
                <label for="escapedCodeOutput">Escaped C# source</label>
                <textarea class="form-control" id="escapedCodeOutput" placeholder='go on. press the button. you know you want to!'>@Html.Raw(ViewBag.result)</textarea>
                <p class="help-block">This should be ready to paste straight into your .cs file.</p>
            </div>
        </form>

    </div>
    <p class="text-center">
        From a <a href="http://stackoverflow.com/a/324812">StackOverflow Answer</a>. Assembled by <a href="http://www.joshrivers.me">Josh Rivers</a> of <a href="http://radianttiger.com">Recursive Erudition</a>. Source Code on <a href="https://bitbucket.org/joshrivers/csharpstringescaper">BitBucket</a>.
    </p>
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
